body {margin: 0 auto;}
a {text-decoration: none; color: #fff;}

.nav-bar {
    display: flex;
    justify-content: space-between;
    background-color: #263343;
    align-items: center;
    /* height: 50px; */
    padding: 8px 12px;
}
.nav-logo {
    font-weight: bold;
    padding: 8px 12px;
}
.nav-logo i {color: pink;}

.nav-menu {display: flex; font-size: 15px;}
.nav-menu li {
    padding: 17px 12px;
}

.nav-menu li:hover>a {color: pink;}

.nav-icon {display: flex;}
.nav-icon i {color: #fff; padding: 8px 12px;}

.mobile-menubtn{
    position:absolute;
    width: 25px;
    top:20px;
    right:25px;
    display: none;
}
.mobile-menubtn span{
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 2px;
}
.mobile-menubtn span+span{margin-top: 4px;}

@media screen and (max-width:768px) {

    .nav-bar {
        flex-direction: column; 
        padding: 12px;
        }
    .nav-logo {
        width: 100%; 
    }
    .nav-menu {
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }
    .nav-menu li {
        padding: 12px;
    }
    .nav-menu li:hover {background-color: pink;}
    .nav-menu li:hover>a {color: #fff;}

    nav-icon li {
        padding: 20px 10px;
    }

    .mobile-menubtn {display: block;}
    .mobile-menubtn span {background: pink;}


}